.content {
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 80px;
  border-radius: 8px;
}

.contentLink {
  color: #4a4a4a;
}

.date {
  font-size: 12px;
  color: #888;
}

.title {
  display: block;
  margin-bottom: 14px;
  font-weight: bold;
  font-size: 18px;
  color: #f25f70;
}

.postContent {
  padding: 28px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 80px;
  border-radius: 8px;
}

.postTitle {
  margin: 6px 0 40px !important;
}

.tagContent {
  margin-top: 20px;
  display: flex;
  font-size: 14px;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0 !important;
  margin-left: 10px !important;
}

.tagListItem {
  text-decoration: underline;
  color: #444444;
  margin-top: 0 !important;
  list-style-type: none;
  margin-right: 6px;

  > a {
    color: #928484;
  }
}